html {
    /*gesamte Seite*/
    background-color: #009f8b;
}

body {
    /*Hintergrundfarbe*/
    background-color: #009f8b;
    /*niemals breiter als die Seite*/
    max-width: 100%;
    /*Außenabstand -> mittig*/
    margin: 0 auto;
}

h1 {
    float: left;
    /*Schriftgröße*/
    font-size: 75%;
    /*Schriftfarbe*/
    color: white;
    /*Hintergrundfarbe*/
    background-color: black;
    /*Boxgröße*/
    width: 35%;
    height: 65%;
    /*Boxrand*/
    border: 0.5% #009f8b double;
    /*Schriftart*/
    font-family: Arial white, sans-serif;
    text-decoration: underline;
    /*Textausrichtung -> mittig*/
    text-align: inherit;
}

h2 {
    float: right;
    /*Schriftgröße*/
    font-size: 75%;
    /*Schriftfarbe*/
    color: white;
    /*Hintergrundfarbe*/
    background-color: black;
    /*Boxgröße*/
    width: 60%;
    height: 65%;
    /*Boxrand*/
    border: 12px #009f8b double;
    /*Schriftart*/
    font-family: Arial white, sans-serif;
    text-decoration: underline;
    /*Textausrichtung -> mittig*/
    text-align: right;
}

p{
    /*Schriftgröße*/
    font-size: 20pt;
}
