html {
    /*gesamte Seite*/
    background-color: #009f8b;
}

body {
    /*Hintergrundfarbe*/
    background-color: black;
    /*niemals breiter als die Seite*/
    max-width: 100%;
    /*Außenabstand -> mittig*/
    margin: 0 auto;
}

h1 {
    /*Schriftgröße*/
    font-size: 30pt;
    /*Schriftfarbe*/
    color: white;
    /*Schriftart*/
    font-family: Arial white, sans-serif;
    text-decoration: underline;
    /*Textausrichtung -> mittig*/
    text-align: center;
}